/node_modules
/dist
/build
# /public/assets/css
# /public/assets/js
# /public/assets/img
# /public/assets/scss
# /public/assets/sass
# /public/assets/css
# /public/assets/js
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.DS_Store